/*== CUSTOM BUTTONS ==*/
.btn-cst-primary {
    background-color: #16A6A8;
    color: #fff;
}


.btn-cst-secondary {
    background: #096F71;
    color: #fff;
}

.btn-cst-yellow {
    background: #EEA333;
    color: #fff;
    font-size: 13px !important;
}
.btn-cst-semi-one{
    background: #0F9AFE;
    border-radius: 20px;
    color: #fff;
    font-weight: 112px;
    font-size: 13px;
}
.btn-cst-semi-two{
    background: #3D5199;
    color: #fff;
    font-weight: 112px;
    font-size: 13px;
}
.btn-cst-semi-three{
    background: #964885;
    color: #fff;
    font-weight: 112px;
    font-size: 13px;
}
.btn-cst-semi-four{
    background: #9ACC83;
    color: #fff;
    font-weight: 112px;
    font-size: 13px;
}
.btn-cst-card{
    background: #096F71;
    border-radius: 20px;
    padding:10px 15px;
    color: #fff;
    border:none;
    outline: none;
}

/* ================ HEADER ===============*/
.header-top{
    background: #7C7C7C;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.header-top #navbarDropdown {
    padding: 0 !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #46BFC2 !important;

}

.social-brands{
background: #c4c4c4;
color: #fff;
padding: 4px 6px;
border-radius: 50%;
margin-right: 5px;
}

/* ================ HERO SECTION ==========*/
#section-hero {
    background-color: #16A6A8;
}

.svg-inline--fa.fa-magnifying-glass {
    position: absolute;
    left: 20px;
    top: 18px;
    z-index: 9999;
}

.img-shape {
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    transform: rotate(5.64deg);
    position: relative;
    top: 64px;
}

.svg-inline--fa.fa-arrow-right {
    position: absolute;
    top: 11px;
    right: 30px;
    background: #096F71;
    padding: 5px;
    border-radius: 16px;
    color: #fff;
}

/* ================ Category Section === */
.category-box{
   padding: 0 10px;
}
.category-title{
    font-size: 30px;
    font-weight: 700;
    color: #096F71;
    margin-bottom: 34px;
}
.btn-active{
    background: #096F71;
}

/* ================ Transformation Section === */
.transformation-wrapper{
    margin: 170px 0;
}
.des-box{
    width: 60%;
    background-color: #fff;
    padding: 35px;
    border-radius: 20px;
    top:200px;
    left: 60px;
    box-shadow: -1px 5px 29px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: -1px 5px 29px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: -1px 5px 29px 0px rgba(0,0,0,0.16);
}

.card-des{
background: #16A6A8;
color:#fff;
padding: 20px 33px;
border-bottom-right-radius: 18px;
border-bottom-left-radius: 18px;
}

/* ================ Services / Solution === */
.heart-icon {
    width: 30px;
    height: 30px;
    background: #FF7D3E;
    color: #fff;
    border-radius: 50px;
    text-align: center !important;
}

.heart-icon svg {
    margin-top: 7px !important
}

/* ================ FOOTER ===============*/

.footer-social-icons span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #18A6A8;
    padding: 10px;
    display: inline-block;
}

.footer-social-icons span svg {
    color: #fff;
    display: block;
    margin: 6px auto;
}